<form class="form-signin bordered shadow-sm card px-5 pb-0" action="/accounts/create" method="POST">
    <div class="text-center mb-4">
        <img class="mb-4" src="/images/computer.png" alt="" width="72" height="72">
        <h1 class="h4 mb-3 font-weight-normal">Computer Shop | Register</h1>

    </div>

    <div class="form-label-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="username">Username</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="password" name="password" class="form-control" placeholder="Password" required>
        <label for="password">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p class="mt-4 mb-3 text-muted text-center">Copyright © 2020 Danrish IT Solution</p>
</form>